* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

body {
 font-family: 'Poppins' !important;
 background-color: #121212df !important;
 color: #ffffff !important;
 font-size: 1rem;
 height: 100vh;
 width: 100vw;
 overflow: auto;
}

 h1 {
    font-size: 3rem;
 }

h3 {
    font-size: 1.5rem;
}

p {
 color: #d0cece !important;
}

a {
    text-decoration: none;
    width: 45%;
}

img {
width: 100%;
height: auto;
}

.innerBox {
    width: 420px;
    height: auto;
    margin-top: 3rem;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color:#020202;
}

.pic {
        height: auto;
        width: 100%;
}

.name {
    
    text-align: center;
    padding-top: 20px;

}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    margin: 10px;

}
.btnEmail {
    font-size: 1.8rem;
    padding: 0.6rem;
    margin: 0 0rem;
    background-color: #ffff;
    color: #1c1c1d;
    border-radius: 15px;
    width: 90%;
}

.btnLinkedin {
    font-size: 1.8rem;
    padding: 0.6rem;
    margin: 0 0rem;
    background-color: #ffff;
    color: #ffffff;
    background: rgb(17, 129, 233);
    border-radius: 15px;
    width: 90%;
}

.iconemail {
    margin-right: 10px;
}

.about {
    padding: 10px 10px 0 10px;
}

.about > p {
    text-align: justify;
}

.bottom {
    padding-top: 0px;
}

.socialicons {
display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.socialicons > .iconz {
    background: #fff;
    text-align: center;
    margin: 8px;
    font-size: 15px;
    color: #020202;
    border-radius: 10px;
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    font-size: 2rem;
    margin-top: 7px;
}