* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
 font-size: 1vw;
 background-color: #ffffff;
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
}

.outerRectangle  {
  width: fit-content;
  height: fit-content;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding: 4vw;
    box-shadow: 5px 11px 18px 0.9px;
}

.propic {
    width: 70%;
    height: 500px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.propic > img {
height: 100%;
    width: 100%;
    border-radius: 50%;
}